body {
  font-family: "Bitter", serif;
}
* {
  box-sizing: border-box;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  flex-direction: column;
}
.player {
  background: #1F2251;
  width: 400px;
  min-height: 480px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 10px;
  padding: 30px;
  z-index: 5;
}

.player__top {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 4;
  height: 250px;
}
.player-cover {
  width: 300px;
  height: 180px;
  margin-left: -70px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  border-radius: 15px;
  z-index: 1;
}
.player-cover__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.player-cover__item:before {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  display: block;
  z-index: 1;
  position: absolute;
  top: 30px;
  transform: scale(0.9);
  filter: blur(10px);
  opacity: 0.9;
  border-radius: 15px;
}
.player-cover__item:after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  display: block;
  z-index: 2;
  position: absolute;
  border-radius: 15px;
}
.player-cover__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 10px 40px 0px rgba(76, 70, 124, 0.5);
  user-select: none;
  pointer-events: none;
}
.player-controls {
  margin-top: 20px;
  flex: 1;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-controls__item {
  display: inline-flex;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 10px;
  color: #FFFFFF;
  opacity: 0.32;
  cursor: pointer;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.player-controls__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  transform: scale(0.5);
  opacity: 0;
  box-shadow: 0px 5px 10px 0px rgba(76, 70, 124, 0.2);
  transition: all 0.3s ease-in-out;
  transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
}
.player-controls__item .icon {
  position: relative;
  z-index: 2;
}
.player-controls__item.-xl {
  margin-bottom: 0;
  font-size: 75px;
  color: #FFFFFF;
  opacity: 0.32;
  width: auto;
  height: auto;
  display: inline-flex;
  margin-top: 30px;
}
.next:hover{
  opacity: 0.7;
}
.prev:hover{
  opacity: 0.7;
}
.play:hover{
  opacity: 0.7;
}
.player-controls__item.-xl:before {
  display: none;
}
.player-controls__item.-favorite.active {
  color: red;
  opacity: 1;
}
[v-cloak] {
  display: none;
}
[v-cloak] > * {
  display: none;
}
.progress {
  width: 70%;
  margin-top: -20px;
  user-select: none;
}
.progress__top {
  text-align: right;
}
.progress__duration {
  color: #FFFFFF;
  opacity: 0.32;
  font-family: poppins;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: -8px;
}
.progress__time {
  color: #FFFFFF;
  opacity: 0.32;
  font-family: poppins;
  font-weight: 700;
  font-size: 14px;
}
.progress__bar {
  height: 3px;
  width: 100%;
  cursor: pointer;
  background-color: #707070;
  display: inline-block;
  border-radius: 10px;
}
.progress__current {
  height: inherit;
  width: 0%;
  background-color: #EF67CD;
  border-radius: 10px;
}
.album-info {
  color: #71829e;
  flex: 1;
  user-select: none;
}
.album-info__name {
  font-family: poppins;
  font-size: 14px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1.3em;
}
.scale-out-enter-active {
  transition: all 0.35s ease-in-out;
}
.scale-out-leave-active {
  transition: all 0.35s ease-in-out;
}
.scale-out-enter {
  transform: scale(0.55);
  pointer-events: none;
  opacity: 0;
}
.scale-out-leave-to {
  transform: scale(1.2);
  pointer-events: none;
  opacity: 0;
}
.scale-in-enter-active {
  transition: all 0.35s ease-in-out;
}
.scale-in-leave-active {
  transition: all 0.35s ease-in-out;
}
.scale-in-enter {
  transform: scale(1.2);
  pointer-events: none;
  opacity: 0;
}
.scale-in-leave-to {
  transform: scale(0.55);
  pointer-events: none;
  opacity: 0;
}
.video{
  margin-top: 15px;
  margin-left: -20px;
  outline: none;
  height: 200px;
  width: 360px;
  border: none;
}
.add_link{
  margin-top: 30px;
}
.youtube_link_label{
  font-family: poppins;
  font-size: 14px;
width: 100%;
margin-bottom: 10px;
color: white;
font-size: 14px;
}
.add_block{
  display: flex;
  justify-content: space-between;
}
.youtube_link_input{
  font-family: poppins;
  font-size: 12px;
  width: 93%;
  margin-top: 5px;
  padding: 10px 8px;
  background: rgb(30,41,89);
background: linear-gradient(180deg, rgba(30,41,89,1) 0%, rgba(0,212,255,0.1) 100%);
  border: 0.2px solid #5B6393;
  border-radius: 3px;
  margin-right: 10px;
  color: white;
}
.add_svg{
margin-top: 5px;
color: white;
}
.vip{
  font-family: poppins;
  font-size: 14px;
margin-top: 20px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.vip-list{
  color: #EF67CD;
  padding: 0px 5px;
}
#checkbox{
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-color: #EF67CD;
  outline: 2px solid #1F2251;
  appearance: none;
  border-radius: 2px;
}
.playlist-toggler{
  color: #121436;
  margin-top: -15px;
  cursor: pointer;
}
rect:hover{
  fill: #EF67CD;
  fill-opacity: 1;
}
.playlist{
  padding: 10px 25px;
  width: 370px;
  max-height: 450px;
  background-color: #121436;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.slide-leave-active {
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slide-enter-to, .slide-leave {
  max-height: 400px;
  overflow: hidden;
}
.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.next-video-title{
  font-family: poppins;
  font-size: 16px;
  color: #EF67CD;
  margin-bottom: 10px;
}
.video-detail{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.video-title{
  color: #71829e;
  width: 250px;
  font-family: poppins;
  font-size: 14px;
}
.video-duration-container{
  display: inline-flex;
}
.ellipses{
  color: wheat;
  cursor: pointer;
  margin-left: 5px;
}
.video-duration{
  color: #71829e;
  font-family: poppins;
  font-size: 14px;
}
.que-list-container{
  height: 140px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #171941;
}

#style-1::-webkit-scrollbar
{
	width: 10px;
	background-color: #171941;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}
.que-title{
  margin: 10px 0px;
  font-family: poppins;
  font-size: 16px;
  color: #BABABA;
}
.playlist-hr{
border: 0.5px solid #FFFFFF1A;
}
.vip-section{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.vip-top{
  font-family: poppins;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
.vip-bottom{
  font-family: poppins;
  font-size: 12px;
  color: #FFFFFF;
}
.priority-btn{
  margin-left: 10px;
  color: #FFFFFF;
  font-family: poppins;
  font-size: 14px;
  font-weight: bold;
  width: 144px;
  height: 35px;
  background: transparent linear-gradient(0deg, #BA54F5 0%, #E14ECA 100%) 0% 0% no-repeat padding-box;
  border: none;
  text-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  cursor: pointer;
}
.vip-que{
  color: #EF67CD;
  font-size: 14px;
  font-weight: bold;
}
.notification-container{
  width: 350px;
  height: 70px;
  padding: 15px 15px;
  background-color: #EF67CD;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-svg{
  color: #FFFFFF;
}
.note{
  margin-top: 8px;
  font-family: poppins;
  font-size: 17px;
  color: #FFFFFF;
}
.times-svg{
  margin-top: 6px;
  color: #FFFFFF;
  cursor: pointer;
}
#youtube-player{
  border-radius: 8px;
}
.default-image{
  width: 360px;
  height: 200px;
  border-radius: 8px;
}
.active{
  color: white;
}